# Cancer-Risk Predictor

following exercise 2 in homl3 with data set from kaggle.com (downloaded cancer-risk-factors.csv from kaggle.com)

In [5]:
import pandas as pd

## get the data 

Load and have a look at the daata

### load the data

In [7]:
file_path = './cancer-risk-factors.csv'

# Load the dataset using a try-except block to handle potential file errors
try:
    cancer_risk_factors = pd.read_csv(file_path)
except FileNotFoundError:
    print(f"ERROR: No such file: {file_path}")

### take a look at the data strcture

In [8]:
cancer_risk_factors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               2000 non-null   object
 1   Cancer_Type              2000 non-null   object
 2   Age                      2000 non-null   int64
 3   Gender                   2000 non-null   int64
 4   Smoking                  2000 non-null   int64
 5   Alcohol_Use              2000 non-null   int64
 6   Obesity                  2000 non-null   int64
 7   Family_History           2000 non-null   int64
 8   Diet_Red_Meat            2000 non-null   int64
 9   Diet_Salted_Processed    2000 non-null   int64
 10  Fruit_Veg_Intake         2000 non-null   int64
 11  Physical_Activity        2000 non-null   int64
 12  Air_Pollution            2000 non-null   int64
 13  Occupational_Hazards     2000 non-null   int64
 14  BRCA_Mutation            2000 non-null   int64
 15  H_Pylori_Infection       2000 non-null   int64
 16  Calcium_Intake           2000 non-null   int64
 17  Overall_Risk_Score       2000 non-null   float64
 18  BMI                      2000 non-null   float64
 19  Physical_Activity_Level  2000 non-null   int64
 20  Risk_Level               2000 non-null   object
dtypes: float64(2), int64(16), object(3)
memory usage: 328.3+ KB

In [9]:
cancer_risk_factors.head()

,Patient_ID,Cancer_Type,Age,Gender,Smoking,Alcohol_Use,Obesity,Family_History,Diet_Red_Meat,Diet_Salted_Processed,...,Physical_Activity,Air_Pollution,Occupational_Hazards,BRCA_Mutation,H_Pylori_Infection,Calcium_Intake,Overall_Risk_Score,BMI,Physical_Activity_Level,Risk_Level
0,LU0000,Breast,68,0,7,2,8,0,5,3,...,4,6,3,1,0,0,0.398696,28.0,5,Medium
1,LU0001,Prostate,74,1,8,9,8,0,0,3,...,1,3,3,0,0,5,0.424299,25.4,9,Medium
2,LU0002,Skin,55,1,7,10,7,0,3,3,...,1,8,10,0,0,6,0.605082,28.6,2,Medium
3,LU0003,Colon,61,0,6,2,2,0,6,2,...,6,4,8,0,0,8,0.318449,32.1,7,Low
4,LU0004,Lung,67,1,10,7,4,0,6,3,...,9,10,9,0,0,5,0.524358,25.1,2,Medium

In [12]:
# check categories in non-numerical features
cancer_risk_factors['Patient_ID'].value_counts()

Patient_ID
LU0000    1
PR0129    1
PR0142    1
PR0141    1
PR0140    1
         ..
BR0261    1
BR0260    1
BR0259    1
BR0258    1
ST0399    1
Name: count, Length: 2000, dtype: int64

In [13]:
cancer_risk_factors['Cancer_Type'].value_counts()

Cancer_Type
Lung        527
Breast      460
Colon       418
Prostate    305
Skin        290
Name: count, dtype: int64

In [14]:
cancer_risk_factors['Risk_Level'].value_counts()

Risk_Level
Medium    1574
Low        324
High       102
Name: count, dtype: int64

In [15]:
cancer_risk_factors.describe()

,Age,Gender,Smoking,Alcohol_Use,Obesity,Family_History,Diet_Red_Meat,Diet_Salted_Processed,Fruit_Veg_Intake,Physical_Activity,Air_Pollution,Occupational_Hazards,BRCA_Mutation,H_Pylori_Infection,Calcium_Intake,Overall_Risk_Score,BMI,Physical_Activity_Level
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.00000,2000.000000,2000.000000,2000.000000
mean,63.248000,0.489000,5.157000,5.035000,5.967500,0.194500,5.189500,4.563500,4.927500,4.015000,5.323000,4.979000,0.032500,0.19650,3.94050,0.454449,26.183350,4.938500
std,10.462946,0.500004,3.325339,3.260996,3.061393,0.395914,3.154452,3.088323,3.045305,2.978458,3.207462,3.212899,0.177368,0.39745,3.04887,0.123074,3.947459,3.166027
min,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.029285,15.000000,0.000000
25%,56.000000,0.000000,2.000000,2.000000,4.000000,0.000000,3.000000,2.000000,3.000000,1.000000,3.000000,2.000000,0.000000,0.00000,1.00000,0.366982,23.500000,2.000000
50%,64.000000,0.000000,5.000000,5.000000,6.000000,0.000000,5.000000,4.000000,5.000000,4.000000,5.000000,5.000000,0.000000,0.00000,4.00000,0.455399,26.200000,5.000000
75%,70.000000,1.000000,8.000000,8.000000,9.000000,0.000000,8.000000,7.000000,8.000000,6.000000,8.000000,8.000000,0.000000,0.00000,6.00000,0.539782,28.700000,8.000000
max,90.000000,1.000000,10.000000,10.000000,10.000000,1.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,1.00000,10.00000,0.852158,41.400000,10.000000

#### visualize thwe data - plot as histograms